
<!-- pipe examples -->

<!-- <div>{{strVar | uppercase}}</div> -->

<!-- <h3>{{date}}</h3><br>
<h3>{{date | date:'short'}}</h3><br>
<h3>{{date | date:'medium'}}</h3><br>
<h3>{{date| date:'long'}}</h3><br>
<h3>{{date| date:'full'}}</h3><br>
<h3>{{date| date:'shortDate'}}</h3><br>
<h3>{{date| date:'mediumDate'}}</h3><br>
<h3>{{date| date:'longDate'}}</h3><br>
<h3>{{date| date:'fullDate'}}</h3><br>

<h3>{{date| date:'shortTime'}}</h3><br>
<h3>{{date| date:'mediumTime'}}</h3><br>
<h3>{{date| date:'longTime'}}</h3><br>
<h3>{{date| date:'fullTime'}}</h3><br> -->

<p>{{strVar | substrpipe:9}}</p>

<!-- two type of pipes -->
<!-- 1.Pure 2.Impure  -->


